H1 {text-align:center;
	color: #ff00ff;
	font: Times New Roman, Arial
	}

body{background-color:lightblue;}

.cake{
	width: 25%;
	height: auto;
	padding-left: 200px;
	padding-right: 200px;
	}
.hat{
	border:1px solid orange;
}